<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>

    <body>
        <a href="" id="theButton">Click Me</a>
        <button id="btn">Click Me</button>

        <div id="response"></div>

        <!-- <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type="text/javascript">
      var cars = [
        {"make":"Porsche", "model":"911S"}
      ];
      // window.onload = function(){
      //   document.getElementById("theButton").onclick = function(){
      //     doWork_franke();
      //   }
      // }
      $('a#theButton').click(function(){
        // $.ajax({
        //     url: "/_get_data/",
        //     type: "POST",
        //     success: function(resp){
        //         $('div#response').append(resp.data);
        //     }
        // });
        doWork_franke();
        
      });
      $('button#btn').click(function(){
        // $.ajax({
        //     url: "/_get_data/",
        //     type: "POST",
        //     success: function(resp){
        //         $('div#response').append(resp.data);
        //     }
        // });
        doWork();
        
      });
      function doWork() {
        $.ajax({
            url: "/json",
            type: "POST",
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(cars),
            success: function(resp){
                $('div#response').append(resp.data);
            }
        });
      }
      function doWork_franke() {
        $.ajax({
            url: "/json",
            type: "POST",
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(cars),
            success: function(resp){
                $('div#response').append(resp.data);
            }
        });
      }
  </script>

    </body>
</html>